<h1>Listing teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Hometown</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.hometown %></td>
    <td><%= link_to 'Show', team %></td>
  </tr>
<% end %>
</table>