<h1>Listing venues</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.address %></td>
    <td><%= link_to 'Show', venue %></td>
  </tr>
<% end %>
</table>
