<h1>Listing players</h1>

<table class="players table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Number</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @players %>

</table>